
#text{
    text-align: center;
    h1{
        font-size: 1.4rem;
        font-weight: $thin;
        color: $very-dark-blue;
    }
    h2{
        font-weight: $bold;
        color: $very-dark-blue;
        font-weight: 1rem;
        margin-top: -10px;
    }
    p{
        font-weight: $medium;
        color: $grayish-blue;
        font-size: 0.95rem;
    }
}