$desktop:1200px;
$red:hsl(0, 78%, 62%);//#ea5353
$cyan:hsl(180, 62%, 55%);//#45d3d3
$orange:hsl(34, 97%, 64%);//#fcaf4a
$blue:hsl(212, 86%, 64%);//#549ef2
$very-dark-blue:hsl(234, 12%, 34%);
$grayish-blue:hsl(229, 6%, 66%); //#a3a5ae
$very-light-blue:hsl(0, 0%, 98%);
$thin:200;
$medium:400;
$bold:600;
$font-family: 'Poppins', sans-serif;