@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: 400;
    color:hsl(229, 6%, 66%);
    margin-bottom: -25px;
    margin-top: 30px;
    font-size: 25px;
}
h2{
    font-weight: 600;
    color:hsl(234, 12%, 34%);
    font-size: 25px;
    margin-bottom: -15px;
}
p{
    font-weight:200;
    color:hsl(229, 6%, 66%);
    font-size: 18px;
    width: 75vw;
    text-align: center;
}
section p{
    font-size: 15px;
    margin-left: 5vw;
    margin-top:-15px;
    width: 60vw;
    text-align: left;
}

h3{
    font-weight: 600;
    color:hsl(234, 12%, 34%);
    margin-left: 5vw;
}
section{
    width: 75vw;
    height: 25vh;
    border-radius: 10px;
    border-style: solid;
    border-color: hsl(0, 0%, 98%);
    margin:10px;
}
.supervisor{
    box-shadow:7px 6px 9px 0px hsl(229, 6%, 66%), 0px -6px 2px 0px hsl(180, 62%, 55%);
    
}
.team{
    box-shadow:7px 6px 9px 0px hsl(229, 6%, 66%), 0px -6px 2px 0px hsl(0, 78%, 62%);
}
.karma{
    box-shadow:7px 6px 9px 0px hsl(229, 6%, 66%), 0px -6px 2px 0px hsl(34, 97%, 64%);
}
.calculator{
    box-shadow:7px 6px 9px 0px hsl(229, 6%, 66%), 0px -6px 2px 0px hsl(212, 86%, 64%);
}
img{
    margin-top:20px;
    margin-left: 58vw;
}
@media screen and (min-width: 780px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    section{
        width:25vw;
        height: 27vh;
    }
    h3{margin-left: 20px;}
    section p{
        width: 20vw;
        margin-left: 20px;
    }
    div{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;
    }
    .supervisor{
        grid-area:2/1/4/2;
    }
    .team{
        grid-area: 1/2/3/3;
    }
    .karma{
        grid-area: 3/2/5/3;
    }
    .calculator{
        grid-area:2/3/4/4;
    }
    img{
        margin-left: 18vw;
        margin-top: 40px;
    }
  }